@inherits LayoutComponentBase
<TopNavMenu/>
<main>
    @Body
</main>
<footer>
    <footer class="text-center p-3 mt-3">
        Created by <a href="https://chrisherzig.com" target="_blank">Chris Herzig</a>
    </footer>
</footer>

@code {

}
